.DS_Store
*.pyc
*.log
*.dat
*.data
tool/twitter-tools/twitter-tools-core/src/main/python/twittertools/stream/status.log.*
data/data15/score*
data/data15/rankB*
data/data15/relevance*
data/data15/novelty*
data/data15/submit*
data/data15/bak*
data/data15/rankScore*
data/data15/res*
data/data15/threshold*
data/data16/A*
data/data16/B*
src/bak*
src/eval*
